doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")

  body
    block content
    
