@import '../../common.styl'

.registerForm
  display: flex
  justify-items: center;
  justify-content: center;
  height: 100vh;
  flex: 1
  
  &__grid
    height: 100%
    width: 450px

  &__title
    color: $c-teal-base
  
  &__button
    &--register
      background-color: $c-teal-base!important
      color: $c-white-base!important
